# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# movies
# /public/movies/Eiyuu,BuwoKiwameruTame
/public/movies/Isekai Meikyuu de Harem wo
/public/movies/KIMI NO NAWA
/public/movies/sword art online alicization
/public/movies/Sword Art Online alicization war of underworld
/public/movies/Sword Art Online Alicization war of underworld Season 2
/public/movies/Sword Art Online Ordinal Scale
/public/movies/Sword Art Online Season 1
/public/movies/Sword Art Online Season 2
/public/movies/Tensei shitara Ken Deshita
/public/movies/Isekai One Turn Kill Neesan
/public/movies/Jimihen!!- Jimiko wo Kaechau Jun Isei Kouyuu!!
/public/movies/Kage no Jitsuryokusha ni Naritakute !
/public/movies/Knights & Magic
/public/movies/Overlord Season 1
/public/movies/Overlord Season 2
/public/movies/Overlord Season 3
/public/movies/Overlord Season 4
/public/movies/Showtime! Uta no Oneesan datte Shitai Season 2
/public/movies/Yamada-kun to Lv999 no Koi wo Suru
/public/movies/Maou-sama Retry!


# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
